.digital-code {
  font-weight: 500;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__desc {
    font-size: 18px;
  }

  span {
    color: $dfActiveStateColor;
  }

  &__code {
    display: flex;
    margin-top: 50px;
    position: relative;

    & > div {
      margin: 0 15px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &.error {
      .digital-code__error-msg {
        opacity: 1;
      }
    }
  }

  &__resend {
    margin-top: 50px;
    margin-bottom: auto;
    color: $signGrayColor;
    font-weight: 500;
    line-height: 19px;

    &-link {
      color: $dfColor;
    }
  }

  &__error-msg {
    @include cubic-first;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    color: $dfInputErrorColor;
    opacity: 0;
  }
}