// ****************
// Colors
$white: #ffffff;
$black: #000000;
$dark: #251D3A;
$dfActiveStateColor: #27AE60;

// Sign page colors
$signBgColor: #003918;
$signFormSideBg: #F7F8FB;
$signGrayColor: #98A1B8;

// Sizes
$base-font-size: 16px;

// Fonts
$font: 'Rubik', sans-serif;