extends template/main

block variables
	- var title = 'Treedset Sign in'
	- var pageClass = 'sign-page'

block content
	include ./modules/sign-page/sign-page__logo-side
	include ./modules/sign-page/sign-page__form-side