extends template/main

block variables
	- var title = 'Treedset Sign up'
	- var pageClass = 'sign-page'
	- var signType = 'digital-code'
	- var step = 'third'

block content
	include ./modules/sign-page/sign-page__logo-side
	include ./modules/sign-page/sign-page__form-side