extends template/main

block variables
	- var title = 'Treedset Forgot your password - check yout email'
	- var pageClass = 'sign-page'
	- var signType = 'finish-reg'

block content
	include ./modules/sign-page/sign-page__logo-side
	include ./modules/sign-page/sign-page__form-side