// Sign page
.sign-page {
  background: $signBgColor;

  &__wrapper {
    display: flex;

    &>div {
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // Container
  &__container {
    width: 100%;
    padding: 15px;
    max-width: 420px;
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  // Logo side
  &__logo-side {
    background: 50% 50%/cover no-repeat url('../images/sign-in/bg-image.svg');
    height: 100vh;
  }

  &__logo {
    svg {
      width: 235px;
    }
  }

  // Form side
  &__form-side {
    background: $signFormSideBg;
  }
}
// End sign page