// Sign page
.sign-page {
  background: $signBgColor;

  &__wrapper {
    display: flex;

    &>div {
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // Container
  &__container {
    width: 100%;
    margin: 15px;
    max-width: 420px;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 850px;

    &.check {
      height: calc(100vh - 400px);
    }

    &.reg {
      height: calc(100vh - 140px);

      .sign-heading {
        min-height: 80px;
      }
    }
  }
  
  // Logo side
  &__logo-side {
    background: 0% 50%/cover no-repeat url('../images/sign-in/bg-image.svg');
    height: 100vh;
  }

  &__logo {
    svg {
      width: 235px;
    }
  }

  &__mobile-title {
    display: none;
  }

  // Form side
  &__form-side {
    background: $signFormSideBg;
    height: 100vh;
    overflow: auto;
    padding: 50px 0;
  }

  // Check email
  &__check-info {
    margin-bottom: auto;
    font-size: 20px;
    line-height: 30px;
  }

  // Finish reg
  &__finish-reg-info {
    font-size: 20px;
    line-height: 18px;
  }

  &__fifnish-reg-desc {
    font-size: 18px;
    line-height: 26px;
    color: $signGrayColor;
    margin-bottom: auto;
    margin-top: 60px;
  }
}
// End sign page