.sign-control-wr {
  min-height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__form {
    margin-top: 75px;

    &-forgot {
      margin-top: 0;
      height: 100%;
    }

    &-signup {
      margin-top: 40px;
    }
  }

  &__digital-code {
    height: 420px;
  }
}

// import tabs
@import "../sign-tabs/sign-tabs";

// import form
@import "../sign-form/sign-form";