.sign-form {
  min-height: auto;
  padding-bottom: 50px;

  &__input {
    margin-top: 30px;
  }

  &__options {
    margin-top: 35px;
  }

  &__forgot {
    font-size: 13px;
    line-height: 18px;
  }

  &__btn {
    margin-top: 30px;
  }

  &__reg-type > div {
    padding-bottom: 50px;
  }
}