if signType == 'in'
  - var signStatus = ''
else if signType == 'up'
  - var signStatus = ' signup-active'
else if signType == 'digital-code'
  - var signStatus = ' signup-active'

#signTabs(class="sign-tabs" + signStatus)
  a.sign-tabs__link(href='/signin.html', onmouseover="handleLogTabHover()", onmouseout="handleLogTabOut()") Sign in
  a.sign-tabs__link(href='/signup.html', onmouseover="handleRegTabHover()", onmouseout="handleRegTabOut()") Sign up