if signType == 'in'
  - var title = 'Welcome to TreeDset!'
  - var description = 'Thank you for get back to TreeDset, together we can create magnificent garden design.'
else if signType == 'up'
  - var title = 'Welcome to TreeDset! '
  - var description = 'Join to TreeDset and you will recieve the best tool to create magnificent garden design.'
else if signType == 'forgot'
  - var title = 'Forgot password?'
  - var description = 'It happens, don’t worry. Enter your email and phone number associated with your account.'
else if signType == 'check'
  - var title = 'Check your email'
  - var description = ''
else if signType == 'digital-code'
  - var title = 'Welcome to TreeDset!'
  - var description = 'Join to TreeDset and you will recieve the best tool to create magnificent garden design.'

.sign-heading
  h1.sign-heading__title= title
  if description !== ''
    p.sign-heading__desc= description