- var title = 'Welcome to TreeDset!'
- var description = 'Thank you for get back to TreeDset, together we can create magnificent garden design.'

.sign-heading
  h1.sign-heading__title= title
  p.sign-heading__desc= description