.sign-page__form-side
  .sign-page__container
    //- Heading
    include ./sign-heading
    
    //- Tabs and form
    .sing-page__form-control-wr.sign-control-wr
      //- Tabs
      include ./sign-tabs
      //- Form
      include ./sign-form